# Introduction

Hopefully, this short tutorial can show you a lot of different commands that will help you gain the most insights into your dataset.

In [2]:
import pandas as pd
from src.utils import load_data_from_google_drive

# Loading in Data

The first step in any ML problem is identifying what format your data is in, and then loading it into whatever framework you're using. For Kaggle compeitions, a lot of data can be found in CSV files, so that's the example we're going to use.

We're going to be looking at a sports dataset that shows the results from NCAA basketball games from 1985 to 2016. This dataset is in a CSV file, and the function we're going to use to read in the file is called **pd.read_csv()**. This function returns a **dataframe** variable. The dataframe is the golden jewel data structure for Pandas. It is defined as "a two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns)".

Just think of it as a table for now.

In [3]:
df = load_data_from_google_drive(url='https://drive.google.com/file/d/184JcLbSpArA_uq0DgAv2k892KChJVPHt/view?usp=share_link')

In [4]:
df

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0         1985      20   1228      81   1328      64    N      0
1         1985      25   1106      77   1354      70    H      0
2         1985      25   1112      63   1223      56    H      0
3         1985      25   1165      70   1432      54    H      0
4         1985      25   1192      86   1447      74    H      0
...        ...     ...    ...     ...    ...     ...  ...    ...
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

[145289 rows x 8 columns]

# The Basics

Now that we have our dataframe in our variable df, let's look at what it contains. We can use the function **head()** to see the first couple rows of the dataframe (or the function **tail()** to see the last few rows).

In [5]:
df.head()

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0

In [6]:
df.tail()

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

We can see the dimensions of the dataframe using the the **shape** attribute

In [7]:
df.shape

(145289, 8)

We can also extract all the column names as a list, by using the **columns** attribute and can extract the rows with the **index** attribute

In [8]:
df.columns.tolist()

['Season', 'Daynum', 'Wteam', 'Wscore', 'Lteam', 'Lscore', 'Wloc', 'Numot']

In order to get a better idea of the type of data that we are dealing with, we can call the **describe()** function to see statistics like mean, min, etc about each column of the dataset.

In [9]:
df.describe()

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Numot
count,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000
mean,2001.574834,75.223816,1286.720646,76.600321,1282.864064,64.497009,0.044387
std,9.233342,33.287418,104.570275,12.173033,104.829234,11.380625,0.247819
min,1985.000000,0.000000,1101.000000,34.000000,1101.000000,20.000000,0.000000
25%,1994.000000,47.000000,1198.000000,68.000000,1191.000000,57.000000,0.000000
50%,2002.000000,78.000000,1284.000000,76.000000,1280.000000,64.000000,0.000000
75%,2010.000000,103.000000,1379.000000,84.000000,1375.000000,72.000000,0.000000
max,2016.000000,132.000000,1464.000000,186.000000,1464.000000,150.000000,6.000000

Okay, so now let's looking at information that we want to extract from the dataframe. Let's say I wanted to know the max value of a certain column. The function **max()** will show you the maximum values of all columns

In [10]:
df.max()

Season    2016
Daynum     132
Wteam     1464
Wscore     186
Lteam     1464
Lscore     150
Wloc         N
Numot        6
dtype: object

Then, if you'd like to specifically get the max value for a particular column, you pass in the name of the column using the bracket indexing operator

In [11]:
df['Wscore'].max()

186

If you'd like to find the mean of the Losing teams' score.

In [12]:
df['Lscore'].mean()

64.49700940883343

But what if that's not enough? Let's say we want to actually see the game(row) where this max score happened. We can call the **argmax()** function to identify the row index

In [13]:
df['Wscore'].argmax()

24970

One of the most useful functions that you can call on certain columns in a dataframe is the **value_counts()** function. It shows how many times each item appears in the column. This particular command shows the number of games in each season

In [14]:
df['Season'].value_counts()

Season
2016    5369
2014    5362
2015    5354
2013    5320
2010    5263
2012    5253
2009    5249
2011    5246
2008    5163
2007    5043
2006    4757
2005    4675
2003    4616
2004    4571
2002    4555
2000    4519
2001    4467
1999    4222
1998    4167
1997    4155
1992    4127
1991    4123
1996    4122
1995    4077
1994    4060
1990    4045
1989    4037
1993    3982
1988    3955
1987    3915
1986    3783
1985    3737
Name: count, dtype: int64

**Q**: How many unique seasons are there in the dataset? Use the nunique() function.

In [15]:
# Write your code here
df["Season"].nunique()

32

**Q**: Find the team with the most wins. Use the value_counts() function on the Wteam column.

In [62]:
# Write your code here
df["Wteam"].value_counts().head(1)

Wteam
1181    819
Name: count, dtype: int64

# Acessing Values

Then, in order to get attributes about the game, we need to use the **iloc[]** function. Iloc is definitely one of the more important functions. The main idea is that you want to use it whenever you have the integer index of a certain row that you want to access. As per Pandas documentation, iloc is an "integer-location based indexing for selection by position."

In [17]:
df.iloc[[df['Wscore'].argmax()]]

       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
24970    1991      68   1258     186   1109     140    H      0

Let's take this a step further. Let's say you want to know the game with the highest scoring winning team (this is what we just calculated), but you then want to know how many points the losing team scored.

In [18]:
df.iloc[[df['Wscore'].argmax()]]['Lscore']

24970    140
Name: Lscore, dtype: int64

When you see data displayed in the above format, you're dealing with a Pandas **Series** object, not a dataframe object.

In [19]:
type(df.iloc[[df['Wscore'].argmax()]]['Lscore'])

pandas.core.series.Series

In [20]:
type(df.iloc[[df['Wscore'].argmax()]])

pandas.core.frame.DataFrame

The following is a summary of the 3 data structures in Pandas (Haven't ever really used Panels yet)

![](DataStructures.png)

When you want to access values in a Series, you'll want to just treat the Series like a Python dictionary, so you'd access the value according to its key (which is normally an integer index)

In [21]:
df.iloc[[df['Wscore'].argmax()]]['Lscore'][24970]

140

The other really important function in Pandas is the **loc** function. Contrary to iloc, which is an integer based indexing, loc is a "Purely label-location based indexer for selection by label". Since all the games are ordered from 0 to 145288, iloc and loc are going to be pretty interchangable in this type of dataset

In [22]:
df.iloc[:3]

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0

In [23]:
df.loc[:3]

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0

Notice the slight difference in that iloc is exclusive of the second number, while loc is inclusive.

Below is an example of how you can use loc to acheive the same task as we did previously with iloc

In [24]:
df.loc[df['Wscore'].argmax(), 'Lscore']

140

A faster version uses the **at()** function. At() is really useful wheneever you know the row label and the column label of the particular value that you want to get.

In [25]:
df.at[df['Wscore'].argmax(), 'Lscore']

140

If you'd like to see more discussion on how loc and iloc are different, check out this great Stack Overflow post: http://stackoverflow.com/questions/31593201/pandas-iloc-vs-ix-vs-loc-explanation. Just remember that **iloc looks at position** and **loc looks at labels**. Loc becomes very important when your row labels aren't integers.

# Sorting

Let's say that we want to sort the dataframe in increasing order for the scores of the losing team

In [26]:
df.sort_values('Lscore').head()

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
100027    2008      66   1203      49   1387      20    H      0
49310     1997      66   1157      61   1204      21    H      0
89021     2006      44   1284      41   1343      21    A      0
85042     2005      66   1131      73   1216      22    H      0
103660    2009      26   1326      59   1359      22    H      0

**Q**: Make three dataframes that are sorted by season, winning team, and winning score respectively. Then, Using iloc, select the rows from index 100 to 200 and the columns for season, winning team, and winning score, respectively.

In [64]:
# Write your code here
# I itereate over the relevant column names and sort by them. Iloc is from 100 to 201 to get the element in position 200 included
season, win_team, win_score = [df.sort_values(x).iloc[100:201] for x in ["Season", "Wteam", "Wscore"]]

**Q**: From these three subsets you obtained above, find the season and winning team for the game with the highest winning score.

In [69]:
# Write your code here
#I get the max value in the subset by taking the last element
win_score.head(-1)

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,HighScoringGame
99013,2008,33,1460,43,1139,42,H,0,No
126840,2013,77,1366,43,1126,40,H,0,No
126982,2013,80,1442,43,1236,40,A,0,No
15619,1989,30,1343,43,1159,33,H,0,No
122700,2012,103,1349,43,1374,39,H,0,No
...,...,...,...,...,...,...,...,...,...
123294,2012,117,1192,45,1383,44,H,0,No
135433,2015,26,1438,45,1353,26,N,0,No
72338,2002,90,1443,45,1117,42,H,0,No
135808,2015,36,1185,45,1276,42,A,0,No
129196,2013,131,1380,45,1341,44,N,0,No

# Filtering Rows Conditionally

Now, let's say we want to find all of the rows that satisy a particular condition. For example, I want to find all of the games where the winning team scored more than 150 points. The idea behind this command is you want to access the column 'Wscore' of the dataframe df (df['Wscore']), find which entries are above 150 (df['Wscore'] > 150), and then returns only those specific rows in a dataframe format (df[df['Wscore'] > 150]).

In [29]:
df[df['Wscore'] > 150]

       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
5269     1986      75   1258     151   1109     107    H      0
12046    1988      40   1328     152   1147      84    H      0
12355    1988      52   1328     151   1173      99    N      0
16040    1989      40   1328     152   1331     122    H      0
16853    1989      68   1258     162   1109     144    A      0
17867    1989      92   1258     181   1109     150    H      0
19653    1990      30   1328     173   1109     101    H      0
19971    1990      38   1258     152   1109     137    A      0
20022    1990      40   1116     166   1109     101    H      0
22145    1990      97   1258     157   1362     115    H      0
23582    1991      26   1318     152   1258     123    N      0
24341    1991      47   1328     172   1258     112    H      0
24970    1991      68   1258     186   1109     140    H      0
25656    1991      84   1106     151   1212      97    H      0
28687    1992      54   1261     159   1319      86    H      0
35023    1993     112   1380     155   1341      91    A      0
40060    1995      32   1375     156   1341     114    H      0
52600    1998      33   1395     153   1410      87    H      0

This also works if you have multiple conditions. Let's say we want to find out when the winning team scores more than 150 points and when the losing team scores below 100.

In [30]:
df[(df['Wscore'] > 150) & (df['Lscore'] < 100)]

       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
12046    1988      40   1328     152   1147      84    H      0
12355    1988      52   1328     151   1173      99    N      0
25656    1991      84   1106     151   1212      97    H      0
28687    1992      54   1261     159   1319      86    H      0
35023    1993     112   1380     155   1341      91    A      0
52600    1998      33   1395     153   1410      87    H      0

**Q**: Create a new column in the DataFrame called 'ScoreDifference' which is the absolute difference between the winning score and the losing score. Filter the DataFrame to only include games where the 'ScoreDifference' is greater than the average 'ScoreDifference' for all games.

In [78]:
# Write your code here
df["ScoreDifference"] = df["Wscore"] - df["Lscore"]

**Q**: From this filtered DataFrame, find the season and teams involved in the game with the highest 'ScoreDifference'.

In [84]:
# Write your code here
df.sort_values("ScoreDifference").iloc[-1]

Season             1996
Daynum               48
Wteam              1409
Wscore              141
Lteam              1341
Lscore               50
Wloc                  H
Numot                 0
HighScoringGame     Yes
ScoreDifference      91
Name: 44653, dtype: object

# Grouping

Another important function in Pandas is **groupby()**. This is a function that allows you to group entries by certain attributes (e.g Grouping entries by Wteam number) and then perform operations on them. The following function groups all the entries (games) with the same Wteam number and finds the mean for each group.

In [33]:
df.groupby('Wteam')['Wscore'].mean().head()

Wteam
1101    78.111111
1102    69.893204
1103    75.839768
1104    75.825944
1105    74.960894
Name: Wscore, dtype: float64

This next command groups all the games with the same Wteam number and finds where how many times that specific team won at home, on the road, or at a neutral site

In [34]:
df.groupby('Wteam')['Wloc'].value_counts().head(9)

Wteam  Wloc
1101   H        12
       N         3
       A         3
1102   H       204
       A        73
       N        32
1103   H       324
       A       153
       N        41
Name: count, dtype: int64

Each dataframe has a **values** attribute which is useful because it basically displays your dataframe in a numpy array style format

In [35]:
df.values

array([[1985, 20, 1228, ..., 64, 'N', 0],
       [1985, 25, 1106, ..., 70, 'H', 0],
       [1985, 25, 1112, ..., 56, 'H', 0],
       ...,
       [2016, 132, 1246, ..., 77, 'N', 1],
       [2016, 132, 1277, ..., 62, 'N', 0],
       [2016, 132, 1386, ..., 74, 'N', 0]], dtype=object)

Now, you can simply just access elements like you would in an array.

In [36]:
df.values[0][0]

1985

**Q**: Group the DataFrame by season and find the average winning score for each season.

In [86]:
# Write your code here
df.groupby("Season")["Wscore"].mean()

Season
1985    74.723040
1986    74.813640
1987    77.993870
1988    79.773704
1989    81.728511
1990    80.846477
1991    82.733932
1992    79.992004
1993    79.508790
1994    81.160345
1995    80.096149
1996    78.205483
1997    76.300842
1998    77.229902
1999    76.043581
2000    76.310467
2001    77.088650
2002    76.963557
2003    75.795061
2004    74.971122
2005    74.693690
2006    74.587555
2007    74.829467
2008    74.962425
2009    74.033721
2010    74.652480
2011    74.374190
2012    73.379973
2013    72.840789
2014    76.101268
2015    72.680799
2016    78.295958
Name: Wscore, dtype: float64

**Q**: Group the DataFrame by winning team and find the maximum winning score for each team across all seasons.

In [90]:
# Write your code here
df.groupby("Wteam")["Wscore"].nlargest(1)

Wteam
1101   137131     95
1102   59820     111
1103   16698     109
1104   83801     114
1105   73906     114
                ...
1460   32977     136
1461   75872     112
1462   12924     125
1463   10334     105
1464   9784      115
Name: Wscore, Length: 364, dtype: int64

**Q**: Group the DataFrame by both season and winning team. Find the team with the highest average winning score for each season.

In [91]:
# Write your code here
df.groupby(["Season", "Wteam"])["Wscore"].mean().groupby(level=0).idxmax()

Season
1985    (1985, 1328)
1986    (1986, 1109)
1987    (1987, 1380)
1988    (1988, 1258)
1989    (1989, 1258)
1990    (1990, 1258)
1991    (1991, 1380)
1992    (1992, 1380)
1993    (1993, 1380)
1994    (1994, 1380)
1995    (1995, 1206)
1996    (1996, 1206)
1997    (1997, 1254)
1998    (1998, 1395)
1999    (1999, 1317)
2000    (2000, 1395)
2001    (2001, 1395)
2002    (2002, 1242)
2003    (2003, 1395)
2004    (2004, 1194)
2005    (2005, 1311)
2006    (2006, 1190)
2007    (2007, 1440)
2008    (2008, 1440)
2009    (2009, 1377)
2010    (2010, 1440)
2011    (2011, 1449)
2012    (2012, 1370)
2013    (2013, 1377)
2014    (2014, 1322)
2015    (2015, 1322)
2016    (2016, 1146)
Name: Wscore, dtype: object

**Q**: Create a new DataFrame that counts the number of wins for each team in each season. This will involve grouping by both season and winning team, and then using the count() function.

In [99]:
# Write your code here
df.groupby(["Season", "Wteam"]).count()["Wscore"]

Season  Wteam
1985    1102      5
        1103      9
        1104     21
        1106     10
        1108     19
                 ..
2016    1460     20
        1461     12
        1462     27
        1463     21
        1464      9
Name: Wscore, Length: 10172, dtype: int64

**Q**: For each season, find the team with the most wins. This will involve creating a DataFrame similar to the one in task 5, and then using the idxmax() function for each season.

In [100]:
# Write your code here
df.groupby(["Season", "Wteam"])["Wscore"].count().groupby(level=0).idxmax()

Season
1985    (1985, 1385)
1986    (1986, 1181)
1987    (1987, 1424)
1988    (1988, 1112)
1989    (1989, 1328)
1990    (1990, 1247)
1991    (1991, 1116)
1992    (1992, 1181)
1993    (1993, 1231)
1994    (1994, 1163)
1995    (1995, 1116)
1996    (1996, 1269)
1997    (1997, 1242)
1998    (1998, 1242)
1999    (1999, 1181)
2000    (2000, 1409)
2001    (2001, 1181)
2002    (2002, 1153)
2003    (2003, 1166)
2004    (2004, 1390)
2005    (2005, 1228)
2006    (2006, 1181)
2007    (2007, 1242)
2008    (2008, 1272)
2009    (2009, 1272)
2010    (2010, 1242)
2011    (2011, 1242)
2012    (2012, 1246)
2013    (2013, 1211)
2014    (2014, 1455)
2015    (2015, 1246)
2016    (2016, 1242)
Name: Wscore, dtype: object

**Q**: Group the DataFrame by losing team and find the average losing score for each team across all seasons. Compare this with the average winning score for each team from task 3. Are there teams that have a higher average losing score than winning score?

In [102]:
# Write your code here
# I calculate the difference and since no differences are less than 0 I conclude that no team has a losing score than winning score on average

df.groupby("Wteam")["Wscore"].mean()- df.groupby("Lteam")["Lscore"].mean()

Wteam
1101    17.524904
1102    10.691697
1103    11.722421
1104    11.451627
1105    13.285521
          ...
1460    12.448554
1461    10.508110
1462    11.689903
1463    10.890888
1464     8.738993
Length: 364, dtype: float64

# Dataframe Iteration

In order to iterate through dataframes, we can use the **iterrows()** function. Below is an example of what the first two rows look like. Each row in iterrows is a Series object

In [43]:
for index, row in df.iterrows():
    print(row)
    if index == 1:
        break

Season    1985
Daynum      20
Wteam     1228
Wscore      81
Lteam     1328
Lscore      64
Wloc         N
Numot        0
Name: 0, dtype: object
Season    1985
Daynum      25
Wteam     1106
Wscore      77
Lteam     1354
Lscore      70
Wloc         H
Numot        0
Name: 1, dtype: object

**Q**: Create a new column 'HighScoringGame' that is 'Yes' if the winning score is greater than 100 and 'No' otherwise. This will require iterating over the rows of the DataFrame and checking the value of the winning score for each row.

In [106]:
# Write your code here
highGame = ["No" for _ in range(0, len(df))]
for index, row in df.iterrows():
    if row["Wscore"] > 100:
        highGame[index] = "Yes"
df['HighScoringGame'] = highGame
df

,Season,HighScoringGame,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,ScoreDifference
0,1985,No,20,1228,81,1328,64,N,0,17
1,1985,No,25,1106,77,1354,70,H,0,7
2,1985,No,25,1112,63,1223,56,H,0,7
3,1985,No,25,1165,70,1432,54,H,0,16
4,1985,No,25,1192,86,1447,74,H,0,12
...,...,...,...,...,...,...,...,...,...,...
145284,2016,No,132,1114,70,1419,50,N,0,20
145285,2016,No,132,1163,72,1272,58,N,0,14
145286,2016,No,132,1246,82,1401,77,N,1,5
145287,2016,No,132,1277,66,1345,62,N,0,4
145288,2016,No,132,1386,87,1433,74,N,0,13

**Q**: Calculate the total number of games played by each team, whether they won or lost. This will require iterating over the rows of the DataFrame and updating a dictionary that keeps track of the number of games for each team.

In [113]:
# Write your code here
d = {}
for team in df["Lteam"].unique():
    for wl in ["win", "loss"]:
        d[str(team) + " " + wl] = 0
for index, row in df.iterrows():
    d[str(row["Wteam"]) + " win"] += 1
    d[str(row["Lteam"]) + " loss"] += 1
d

{'1328 win': 673,
 '1328 loss': 295,
 '1354 win': 437,
 '1354 loss': 469,
 '1223 win': 120,
 '1223 loss': 243,
 '1432 win': 28,
 '1432 loss': 41,
 '1447 win': 425,
 '1447 loss': 478,
 '1337 win': 472,
 '1337 loss': 450,
 '1226 win': 297,
 '1226 loss': 550,
 '1268 win': 605,
 '1268 loss': 364,
 '1133 win': 473,
 '1133 loss': 476,
 '1424 win': 685,
 '1424 loss': 289,
 '1288 win': 329,
 '1288 loss': 596,
 '1438 win': 568,
 '1438 loss': 384,
 '1411 win': 414,
 '1411 loss': 489,
 '1397 win': 546,
 '1397 loss': 417,
 '1225 win': 390,
 '1225 loss': 490,
 '1368 win': 295,
 '1368 loss': 513,
 '1391 win': 341,
 '1391 loss': 538,
 '1306 win': 279,
 '1306 loss': 619,
 '1388 win': 506,
 '1388 loss': 391,
 '1184 win': 388,
 '1184 loss': 475,
 '1159 win': 333,
 '1159 loss': 554,
 '1216 win': 382,
 '1216 loss': 548,
 '1134 win': 50,
 '1134 loss': 150,
 '1296 win': 349,
 '1296 loss': 530,
 '1265 win': 420,
 '1265 loss': 514,
 '1416 win': 411,
 '1416 loss': 470,
 '1137 win': 524,
 '1137 loss': 388,
 '1149 win': 320,
 '1149 loss': 504,
 '1102 win': 309,
 '1102 loss': 531,
 '1114 win': 501,
 '1114 loss': 409,
 '1332 win': 508,
 '1332 loss': 419,
 '1317 win': 367,
 '1317 loss': 516,
 '1231 win': 631,
 '1231 loss': 338,
 '1145 win': 423,
 '1145 loss': 511,
 '1453 win': 512,
 '1453 loss': 400,
 '1186 win': 328,
 '1186 loss': 521,
 '1144 win': 307,
 '1144 loss': 543,
 '1384 win': 330,
 '1384 loss': 557,
 '1248 win': 389,
 '1248 loss': 507,
 '1287 win': 356,
 '1287 loss': 501,
 '1334 win': 458,
 '1334 loss': 441,
 '1417 win': 655,
 '1417 loss': 311,
 '1126 win': 303,
 '1126 loss': 603,
 '1152 win': 205,
 '1152 loss': 660,
 '1228 win': 660,
 '1228 loss': 332,
 '1347 win': 405,
 '1347 loss': 453,
 '1428 win': 591,
 '1428 loss': 340,
 '1436 win': 483,
 '1436 loss': 428,
 '1172 win': 507,
 '1172 loss': 372,
 '1330 win': 564,
 '1330 loss': 399,
 '1121 win': 48,
 '1121 loss': 127,
 '1249 win': 380,
 '1249 loss': 493,
 '1440 win': 281,
 '1440 loss': 544,
 '1200 win': 360,
 '1200 loss': 562,
 '1264 win': 456,
 '1264 loss': 472,
 '1242 win': 804,
 '1242 loss': 189,
 '1455 win': 540,
 '1455 loss': 407,
 '1414 win': 418,
 '1414 loss': 504,
 '1387 win': 529,
 '1387 loss': 427,
 '1183 win': 370,
 '1183 loss': 501,
 '1211 win': 663,
 '1211 loss': 258,
 '1284 win': 440,
 '1284 loss': 492,
 '1402 win': 337,
 '1402 loss': 510,
 '1178 win': 442,
 '1178 loss': 478,
 '1364 win': 482,
 '1364 loss': 408,
 '1290 win': 365,
 '1290 loss': 510,
 '1202 win': 342,
 '1202 loss': 514,
 '1180 win': 526,
 '1180 loss': 404,
 '1155 win': 535,
 '1155 loss': 415,
 '1258 win': 352,
 '1258 loss': 546,
 '1192 win': 425,
 '1192 loss': 483,
 '1341 win': 212,
 '1341 loss': 645,
 '1135 win': 322,
 '1135 loss': 525,
 '1254 win': 377,
 '1254 loss': 521,
 '1151 win': 513,
 '1151 loss': 386,
 '1220 win': 471,
 '1220 loss': 462,
 '1405 win': 450,
 '1405 loss': 471,
 '1238 win': 412,
 '1238 loss': 508,
 '1431 win': 572,
 '1431 loss': 365,
 '1253 win': 449,
 '1253 loss': 466,
 '1363 win': 277,
 '1363 loss': 612,
 '1270 win': 370,
 '1270 loss': 491,
 '1331 win': 426,
 '1331 loss': 383,
 '1434 win': 484,
 '1434 loss': 418,
 '1365 win': 460,
 '1365 loss': 447,
 '1442 win': 305,
 '1442 loss': 535,
 '1456 win': 336,
 '1456 loss': 555,
 '1227 win': 409,
 '1227 loss': 508,
 '1406 win': 378,
 '1406 loss': 548,
 '1260 win': 383,
 '1260 loss': 531,
 '1117 win': 439,
 '1117 loss': 452,
 '1163 win': 679,
 '1163 loss': 298,
 '1305 win': 506,
 '1305 loss': 416,
 '1247 win': 475,
 '1247 loss': 468,
 '1165 win': 357,
 '1165 loss': 476,
 '1418 win': 480,
 '1418 loss': 432,
 '1281 win': 613,
 '1281 loss': 364,
 '1109 win': 42,
 '1109 loss': 127,
 '1309 win': 440,
 '1309 loss': 400,
 '1321 win': 345,
 '1321 loss': 567,
 '1285 win': 518,
 '1285 loss': 347,
 '1271 win': 227,
 '1271 loss': 660,
 '1351 win': 478,
 '1351 loss': 451,
 '1267 win': 463,
 '1267 loss': 446,
 '1373 win': 544,
 '1373 loss': 406,
 '1322 win': 366,
 '1322 loss': 488,
 '1187 win': 337,
 '1187 loss': 524,
 '1245 win': 542,
 '1245 loss': 385,
 '1150 win': 518,
 '1150 loss': 424,
 '1409 win': 604,
 '1409 loss': 362,
 '1141 win': 321,
 '1141 loss': 551,
 '1412 win': 594,
 '1412 loss': 368,
 '1221 win': 479,
 '1221 loss': 450,
 '1122 win': 437,
 '1122 loss': 466,
 '1199 win': 531,
 '1199 loss': 418,
 '1399 win': 399,
 '1399 loss': 461,
 '1197 win': 329,
 '1197 loss': 567,
 '1140 win': 627,
 '1140 loss': 338,
 '1444 win': 457,
 '1444 loss': 459,
 '1398 win': 320,
 '1398 loss': 550,
 '1162 win': 314,
 '1162 loss': 517,
 '1239 win': 383,
 '1239 loss': 508,
 '1218 win': 486,
 '1218 loss': 445,
 '1349 win': 347,
 '1349 loss': 541,
 '1222 win': 482,
 '1222 loss': 448,
 '1383 win': 383,
 '1383 loss': 515,
 '1379 win': 460,
 '1379 loss': 436,
 '1463 win': 393,
 '1463 loss': 445,
 '1259 win': 358,
 '1259 loss': 555,
 '1423 win': 471,
 '1423 loss': 460,
 '1123 win': 477,
 '1123 loss': 429,
 '1106 win': 394,
 '1106 loss': 461,
 '1441 win': 318,
 '1441 loss': 536,
 '1292 win': 489,
 '1292 loss': 399,
 '1209 win': 401,
 '1209 loss': 490,
 '1375 win': 466,
 '1375 loss': 430,
 '1336 win': 441,
 '1336 loss': 485,
 '1344 win': 525,
 '1344 loss': 426,
 '1343 win': 527,
 '1343 loss': 305,
 '1386 win': 546,
 '1386 loss': 412,
 '1232 win': 381,
 '1232 loss': 532,
 '1241 win': 458,
 '1241 loss': 484,
 '1110 win': 423,
 '1110 loss': 487,
 '1335 win': 489,
 '1335 loss': 391,
 '1283 win': 564,
 '1283 loss': 388,
 '1325 win': 541,
 '1325 loss': 401,
 '1206 win': 502,
 '1206 loss': 436,
 '1166 win': 579,
 '1166 loss': 378,
 '1311 win': 296,
 '1311 loss': 543,
 '1147 win': 235,
 '1147 loss': 463,
 '1433 win': 612,
 '1433 loss': 363,
 '1250 win': 399,
 '1250 loss': 499,
 '1452 win': 577,
 '1452 loss': 368,
 '1425 win': 470,
 '1425 loss': 474,
 '1208 win': 528,
 '1208 loss': 426,
 '1119 win': 283,
 '1119 loss': 585,
 '1286 win': 394,
 '1286 loss': 457,
 '1307 win': 637,
 '1307 loss': 332,
 '1116 win': 625,
 '1116 loss': 355,
 '1246 win': 765,
 '1246 loss': 234,
 '1263 win': 374,
 '1263 loss': 524,
 '1446 win': 14,
 '1446 loss': 34,
 '1382 win': 402,
 '1382 loss': 512,
 '1427 win': 406,
 '1427 loss': 452,
 '1113 win': 479,
 '1113 loss': 458,
 '1161 win': 478,
 '1161 loss': 427,
 '1396 win': 656,
 '1396 loss': 323,
 '1350 win': 562,
 '1350 loss': 397,
 '1201 win': 494,
 '1201 loss': 453,
 '1429 win': 591,
 '1429 loss': 339,
 '1450 win': 406,
 '1450 loss': 507,
 '1338 win': 618,
 '1338 loss': 344,
 '1320 win': 478,
 '1320 loss': 435,
 '1448 win': 536,
 '1448 loss': 411,
 '1131 win': 523,
 '1131 loss': 422,
 '1190 win': 478,
 '1190 loss': 413,
 '1129 win': 522,
 '1129 loss': 385,
 '1400 win': 652,
 '1400 loss': 330,
 '1224 win': 297,
 '1224 loss': 610,
 '1154 win': 257,
 '1154 loss': 563,
 '1215 win': 54,
 '1215 loss': 93,
 '1403 win': 478,
 '1403 loss': 461,
 '1185 win': 406,
 '1185 loss': 494,
 '1378 win': 409,
 '1378 loss': 527,
 '1234 win': 580,
 '1234 loss': 388,
 '1212 win': 242,
 '1212 loss': 595,
 '1461 win': 488,
 '1461 loss': 426,
 '1451 win': 494,
 '1451 loss': 372,
 '1160 win': 443,
 '1160 loss': 485,
 '1229 win': 529,
 '1229 loss': 422,
 '1111 win': 411,
 '1111 loss': 465,
 '1139 win': 582,
 '1139 loss': 341,
 '1280 win': 520,
 '1280 loss': 426,
 '1279 win': 495,
 '1279 loss': 432,
 '1371 win': 519,
 '1371 loss': 427,
 '1156 win': 449,
 '1156 loss': 451,
 '1345 win': 630,
 '1345 loss': 336,
 '1464 win': 284,
 '1464 loss': 572,
 '1191 win': 479,
 '1191 loss': 449,
 '1299 win': 365,
 '1299 loss': 505,
 '1298 win': 404,
 '1298 loss': 490,
 '1310 win': 456,
 '1310 loss': 493,
 '1168 win': 380,
 '1168 loss': 511,
 '1352 win': 457,
 '1352 loss': 468,
 '1269 win': 536,
 '1269 loss': 410,
 '1360 win': 427,
 '1360 loss': 462,
 '1426 win': 386,
 '1426 loss': 473,
 '1380 win': 428,
 '1380 loss': 434,
 '1175 win': 347,
 '1175 loss': 543,
 '1132 win': 436,
 '1132 loss': 459,
 '1257 win': 682,
 '1257 loss': 312,
 '1339 win': 332,
 '1339 loss': 547,
 '1327 win': 3,
 '1327 loss': 19,
 '1203 win': 510,
 '1203 loss': 423,
 '1319 win': 357,
 '1319 loss': 486,
 '1462 win': 681,
 '1462 loss': 273,
 '1273 win': 381,
 '1273 loss': 515,
 '1275 win': 507,
 '1275 loss': 425,
 '1323 win': 585,
 '1323 loss': 365,
 '1261 win': 545,
 '1261 loss': 411,
 '1308 win': 572,
 '1308 loss': 363,
 '1179 win': 372,
 '1179 loss': 542,
 '1443 win': 573,
 '1443 loss': 369,
 '1104 win': 609,
 '1104 loss': 366,
 '1173 win': 553,
 '1173 loss': 407,
 '1359 win': 378,
 '1359 loss': 496,
 '1318 win': 479,
 '1318 loss': 463,
 '1143 win': 558,
 '1143 loss': 389,
 '1348 win': 472,
 '1348 loss': 466,
 '1376 win': 482,
 '1376 loss': 463,
 '1408 win': 387,
 '1408 loss': 421,
 '1193 win': 438,
 '1193 loss': 504,
 '1410 win': 265,
 '1410 loss': 566,
 '1395 win': 461,
 '1395 loss': 482,
 '1356 win': 541,
 '1356 loss': 412,
 '1124 win': 458,
 '1124 loss': 448,
 '1171 win': 299,
 '1171 loss': 530,
 '1353 win': 405,
 '1353 loss': 534,
 '1389 win': 413,
 '1389 loss': 515,
 '1419 win': 429,
 '1419 loss': 465,
 '1210 win': 549,
 '1210 loss': 423,
 '1235 win': 551,
 '1235 loss': 399,
 '1278 win': 515,
 '1278 loss': 433,
 '1326 win': 622,
 '1326 loss': 346,
 '1103 win': 518,
 '1103 loss': 392,
 '1458 win': 595,
 '1458 loss': 356,
 '1182 win': 359,
 '1182 loss': 565,
 '1204 win': 417,
 '1204 loss': 445,
 '1177 win': 459,
 '1177 loss': 483,
 '1301 win': 558,
 '1301 loss': 421,
 '1266 win': 592,
 '1266 loss': 359,
 '1385 win': 543,
 '1385 loss': 411,
 '1329 win': 587,
 '1329 loss': 354,
 '1439 win': 480,
 '1439 loss': 466,
 '1108 win': 296,
 '1108 loss': 570,
 '1112 win': 746,
 '1112 loss': 235,
 '1153 win': 652,
 '1153 loss': 318,
 '1390 win': 591,
 '1390 loss': 341,
 '1174 win': 457,
 '1174 loss': 456,
 '1333 win': 413,
 '1333 loss': 498,
 '1401 win': 486,
 '1401 loss': 454,
 '1120 win': 473,
 '1120 loss': 463,
 '1449 win': 505,
 '1449 loss': 433,
 '1243 win': 520,
 '1243 loss': 407,
 '1435 win': 561,
 '1435 loss': 400,
 '1233 win': 543,
 '1233 loss': 414,
 '1304 win': 510,
 '1304 loss': 443,
 '1293 win': 598,
 '1293 loss': 288,
 '1277 win': 667,
 '1277 loss': 299,
 '1361 win': 468,
 '1361 loss': 447,
 '1437 win': 629,
 '1437 loss': 354,
 '1276 win': 596,
 '1276 loss': 363,
 '1196 win': 644,
 '1196 loss': 337,
 '1314 win': 761,
 '1314 loss': 249,
 '1256 win': 528,
 '1256 loss': 397,
 '1393 win': 738,
 '1393 loss': 255,
 '1217 win': 391,
 '1217 loss': 437,
 '1130 win': 492,
 '1130 loss': 459,
 '1272 win': 692,
 '1272 loss': 300,
 '1181 win': 819,
 '1181 loss': 194,
 '1207 win': 610,
 '1207 loss': 313,
 '1374 win': 466,
 '1374 loss': 450,
 '1164 win': 421,
 '1164 loss': 472,
 '1362 win': 399,
 '1362 loss': 468,
 '1274 win': 502,
 '1274 loss': 413,
 '1118 win': 6,
 '1118 loss': 21,
 '1420 win': 298,
 '1420 loss': 547,
 '1372 win': 419,
 '1372 loss': 376,
 '1157 win': 372,
 '1157 loss': 412,
 '1421 win': 346,
 '1421 loss': 453,
 '1358 win': 385,
 '1358 loss': 421,
 '1148 win': 343,
 '1148 loss': 501,
 '1457 win': 394,
 '1457 loss': 407,
 '1198 win': 304,
 '1198 loss': 508,
 '1460 win': 429,
 '1460 loss': 398,
 '1291 win': 352,
 '1291 loss': 463,
 '1381 win': 281,
 '1381 loss': 454,
 '1251 win': 301,
 '1251 loss': 454,
 '1282 win': 295,
 '1282 loss': 450,
 '1169 win': 299,
 '1169 loss': 425,
 '1302 win': 62,
 '1302 loss': 138,
 '1454 win': 367,
 '1454 loss': 370,
 '1170 win': 170,
 '1170 loss': 490,
 '1138 win': 330,
 '1138 loss': 398,
 '1422 win': 296,
 '1422 loss': 423,
 '1369 win': 260,
 '1369 loss': 422,
 '1158 win': 492,
 '1158 loss': 228,
 '1404 win': 204,
 '1404 loss': 439,
 '1194 win': 218,
 '1194 loss': 429,
 '1407 win': 289,
 '1407 loss': 350,
 '1142 win': 229,
 '1142 loss': 368,
 '1214 win': 333,
 '1214 loss': 294,
 '1459 win': 245,
 '1459 loss': 330,
 '1240 win': 205,
 '1240 loss': 363,
 '1313 win': 263,
 '1313 loss': 300,
 '1115 win': 147,
 '1115 loss': 373,
 '1176 win': 241,
 '1176 loss': 285,
 '1346 win': 252,
 '1346 loss': 270,
 '1237 win': 234,
 '1237 loss': 285,
 '1340 win': 230,
 '1340 loss': 267,
 '1107 win': 251,
 '1107 loss': 261,
 '1357 win': 184,
 '1357 loss': 316,
 '1324 win': 263,
 '1324 loss': 243,
 '1189 win': 187,
 '1189 loss': 294,
 '1105 win': 179,
 '1105 loss': 268,
 '1392 win': 237,
 '1392 loss': 256,
 '1125 win': 321,
 '1125 loss': 185,
 '1219 win': 208,
 '1219 loss': 258,
 '1289 win': 6,
 '1289 loss': 42,
 '1415 win': 132,
 '1415 loss': 286,
 '1127 win': 157,
 '1127 loss': 285,
 '1236 win': 168,
 '1236 loss': 232,
 '1205 win': 164,
 '1205 loss': 241,
 '1128 win': 67,
 '1128 loss': 39,
 '1252 win': 182,
 '1252 loss': 219,
 '1366 win': 120,
 '1366 loss': 264,
 '1394 win': 190,
 '1394 loss': 200,
 '1294 win': 132,
 '1294 loss': 204,
 '1255 win': 83,
 '1255 loss': 261,
 '1430 win': 161,
 '1430 loss': 164,
 '1413 win': 119,
 '1413 loss': 229,
 '1355 win': 169,
 '1355 loss': 158,
 '1244 win': 82,
 '1244 loss': 240,
 '1295 win': 186,
 '1295 loss': 122,
 '1316 win': 121,
 '1316 loss': 206,
 '1445 win': 26,
 '1445 loss': 81,
 '1146 win': 62,
 '1146 loss': 205,
 '1312 win': 86,
 '1312 loss': 190,
 '1167 win': 101,
 '1167 loss': 159,
 '1300 win': 110,
 '1300 loss': 142,
 '1367 win': 101,
 '1367 loss': 166,
 '1342 win': 67,
 '1342 loss': 193,
 '1195 win': 129,
 '1195 loss': 144,
 '1188 win': 51,
 '1188 loss': 156,
 '1377 win': 89,
 '1377 loss': 121,
 '1136 win': 78,
 '1136 loss': 162,
 '1370 win': 95,
 '1370 loss': 127,
 '1315 win': 88,
 '1315 loss': 129,
 '1303 win': 51,
 '1303 loss': 78,
 '1297 win': 38,
 '1297 loss': 75,
 '1213 win': 50,
 '1213 loss': 34,
 '1262 win': 30,
 '1262 loss': 53,
 '1101 win': 18,
 '1101 loss': 58,
 '1230 win': 37,
 '1230 loss': 27}

**Q**: For each season, find the game with the highest score difference (winning score - losing score). This will require iterating over the rows of the DataFrame, keeping track of the highest score difference for each season, and updating it if a game with a higher score difference is found.

In [116]:
# Write your code here

d = {}
for season in df["Season"].unique():
    d[season] = 0


for index, row in df.iterrows():
    diff = row["Wscore"]- row["Lscore"]
    if d[row["Season"]] < diff:
        d[row["Season"]] = diff
d

{1985: 60,
 1986: 84,
 1987: 73,
 1988: 68,
 1989: 70,
 1990: 76,
 1991: 68,
 1992: 82,
 1993: 81,
 1994: 69,
 1995: 74,
 1996: 91,
 1997: 80,
 1998: 66,
 1999: 75,
 2000: 75,
 2001: 75,
 2002: 59,
 2003: 72,
 2004: 70,
 2005: 64,
 2006: 72,
 2007: 74,
 2008: 70,
 2009: 68,
 2010: 75,
 2011: 69,
 2012: 62,
 2013: 58,
 2014: 74,
 2015: 69,
 2016: 73}

Remember, iterating over a DataFrame should generally be avoided if a vectorized operation can be used instead, as vectorized operations are usually much faster. However, these tasks are designed to give practice with DataFrame iteration for cases where it might be necessary.

Vectorized Operation Example: Create a new column 'HighScoringGame' in the DataFrame using a vectorized operation. This column should contain 'Yes' if the winning score is greater than 100 and 'No' otherwise. Use the np.where function from the numpy library for this task.

In [47]:
import numpy as np
df['HighScoringGame'] = np.where(df['Wscore'] > 100, 'Yes', 'No')

**Q**: Vectorized Operation: Calculate the total number of games played by each team, whether they won or lost. Instead of iterating over the DataFrame, use the value_counts() function on the winning team and losing team columns separately, and then add the two Series together.

In [117]:
# Write your code here
df["Wteam"].value_counts() + df["Lteam"].value_counts()

1101     76
1102    840
1103    910
1104    975
1105    447
       ...
1460    827
1461    914
1462    954
1463    838
1464    856
Name: count, Length: 364, dtype: int64

**Q**: For each season, find the game with the highest score difference (winning score - losing score). Instead of iterating over the DataFrame, create a new column 'ScoreDifference' using vectorized subtraction, then use the groupby() function and idxmax() function to find the game with the highest score difference for each season.

In [122]:
# Write your code here
df["ScoreDifference"] = df.apply(lambda x : x["Wscore"]-x["Lscore"], axis=1)
df.groupby("Season")["ScoreDifference"].idxmax()

Season
1985       236
1986      4731
1987      8240
1988     12046
1989     16677
1990     19502
1991     25161
1992     27997
1993     33858
1994     36404
1995     39858
1996     44653
1997     49033
1998     52600
1999     57618
2000     60616
2001     65999
2002     70737
2003     74791
2004     79181
2005     83372
2006     89542
2007     94507
2008     97737
2009    103723
2010    108405
2011    114015
2012    118699
2013    124057
2014    131373
2015    134590
2016    140040
Name: ScoreDifference, dtype: int64

# Extracting Rows and Columns

The bracket indexing operator is one way to extract certain columns from a dataframe.

In [50]:
df[['Wscore', 'Lscore']].head()

   Wscore  Lscore
0      81      64
1      77      70
2      63      56
3      70      54
4      86      74

Notice that you can acheive the same result by using the loc function. Loc is a veryyyy versatile function that can help you in a lot of accessing and extracting tasks.

In [51]:
df.loc[:, ['Wscore', 'Lscore']].head()

   Wscore  Lscore
0      81      64
1      77      70
2      63      56
3      70      54
4      86      74

Note the difference is the return types when you use brackets and when you use double brackets.

In [52]:
type(df['Wscore'])

pandas.core.series.Series

In [53]:
type(df[['Wscore']])

pandas.core.frame.DataFrame

You've seen before that you can access columns through df['col name']. You can access rows by using slicing operations.

In [54]:
df[0:3]

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot HighScoringGame
0    1985      20   1228      81   1328      64    N      0              No
1    1985      25   1106      77   1354      70    H      0              No
2    1985      25   1112      63   1223      56    H      0              No

Here's an equivalent using iloc

In [55]:
df.iloc[0:3,:]

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot HighScoringGame
0    1985      20   1228      81   1328      64    N      0              No
1    1985      25   1106      77   1354      70    H      0              No
2    1985      25   1112      63   1223      56    H      0              No

# Data Cleaning

One of the big jobs of doing well in Kaggle competitions is that of data cleaning. A lot of times, the CSV file you're given (especially like in the Titanic dataset), you'll have a lot of missing values in the dataset, which you have to identify. The following **isnull** function will figure out if there are any missing values in the dataframe, and will then sum up the total for each column. In this case, we have a pretty clean dataset.

In [56]:
df.isnull().sum()

Season             0
Daynum             0
Wteam              0
Wscore             0
Lteam              0
Lscore             0
Wloc               0
Numot              0
HighScoringGame    0
dtype: int64

If you do end up having missing values in your datasets, be sure to get familiar with these two functions.
* **dropna()** - This function allows you to drop all(or some) of the rows that have missing values.
* **fillna()** - This function allows you replace the rows that have missing values with the value that you pass in.

# Other Useful Functions

* **drop()** - This function removes the column or row that you pass in (You also have the specify the axis).
* **agg()** - The aggregate function lets you compute summary statistics about each group
* **apply()** - Lets you apply a specific function to any/all elements in a Dataframe or Series
* **get_dummies()** - Helpful for turning categorical data into one hot vectors.
* **drop_duplicates()** - Lets you remove identical rows

# Lots of Other Great Resources

Pandas has been around for a while and there are a lot of other good resources if you're still interested on getting the most out of this library.
* http://pandas.pydata.org/pandas-docs/stable/10min.html
* https://www.datacamp.com/community/tutorials/pandas-tutorial-dataframe-python
* http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/
* https://www.dataquest.io/blog/pandas-python-tutorial/
* https://drive.google.com/file/d/0ByIrJAE4KMTtTUtiVExiUGVkRkE/view
* https://www.youtube.com/playlist?list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y