# Introduction

Hopefully, this short tutorial can show you a lot of different commands that will help you gain the most insights into your dataset.

In [1]:
import pandas as pd
from src.utils import load_data_from_google_drive

# Loading in Data

The first step in any ML problem is identifying what format your data is in, and then loading it into whatever framework you're using. For Kaggle compeitions, a lot of data can be found in CSV files, so that's the example we're going to use.

We're going to be looking at a sports dataset that shows the results from NCAA basketball games from 1985 to 2016. This dataset is in a CSV file, and the function we're going to use to read in the file is called **pd.read_csv()**. This function returns a **dataframe** variable. The dataframe is the golden jewel data structure for Pandas. It is defined as "a two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns)".

Just think of it as a table for now.

In [2]:
df = load_data_from_google_drive(url='https://drive.google.com/file/d/184JcLbSpArA_uq0DgAv2k892KChJVPHt/view?usp=share_link')

In [3]:
df

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0         1985      20   1228      81   1328      64    N      0
1         1985      25   1106      77   1354      70    H      0
2         1985      25   1112      63   1223      56    H      0
3         1985      25   1165      70   1432      54    H      0
4         1985      25   1192      86   1447      74    H      0
...        ...     ...    ...     ...    ...     ...  ...    ...
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

[145289 rows x 8 columns]

# The Basics

Now that we have our dataframe in our variable df, let's look at what it contains. We can use the function **head()** to see the first couple rows of the dataframe (or the function **tail()** to see the last few rows).

In [4]:
df.head()

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0

In [5]:
df.tail()

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

We can see the dimensions of the dataframe using the the **shape** attribute

In [6]:
df.shape

(145289, 8)

We can also extract all the column names as a list, by using the **columns** attribute and can extract the rows with the **index** attribute

In [7]:
df.columns.tolist()

['Season', 'Daynum', 'Wteam', 'Wscore', 'Lteam', 'Lscore', 'Wloc', 'Numot']

In order to get a better idea of the type of data that we are dealing with, we can call the **describe()** function to see statistics like mean, min, etc about each column of the dataset.

In [8]:
df.describe()

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Numot
count,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000
mean,2001.574834,75.223816,1286.720646,76.600321,1282.864064,64.497009,0.044387
std,9.233342,33.287418,104.570275,12.173033,104.829234,11.380625,0.247819
min,1985.000000,0.000000,1101.000000,34.000000,1101.000000,20.000000,0.000000
25%,1994.000000,47.000000,1198.000000,68.000000,1191.000000,57.000000,0.000000
50%,2002.000000,78.000000,1284.000000,76.000000,1280.000000,64.000000,0.000000
75%,2010.000000,103.000000,1379.000000,84.000000,1375.000000,72.000000,0.000000
max,2016.000000,132.000000,1464.000000,186.000000,1464.000000,150.000000,6.000000

Okay, so now let's looking at information that we want to extract from the dataframe. Let's say I wanted to know the max value of a certain column. The function **max()** will show you the maximum values of all columns

In [9]:
df.max()

Season    2016
Daynum     132
Wteam     1464
Wscore     186
Lteam     1464
Lscore     150
Wloc         N
Numot        6
dtype: object

Then, if you'd like to specifically get the max value for a particular column, you pass in the name of the column using the bracket indexing operator

In [10]:
df['Wscore'].max()

186

If you'd like to find the mean of the Losing teams' score.

In [11]:
df['Lscore'].mean()

64.49700940883343

But what if that's not enough? Let's say we want to actually see the game(row) where this max score happened. We can call the **argmax()** function to identify the row index

In [12]:
df['Wscore'].argmax()

24970

One of the most useful functions that you can call on certain columns in a dataframe is the **value_counts()** function. It shows how many times each item appears in the column. This particular command shows the number of games in each season

In [13]:
df['Season'].value_counts()

Season
2016    5369
2014    5362
2015    5354
2013    5320
2010    5263
2012    5253
2009    5249
2011    5246
2008    5163
2007    5043
2006    4757
2005    4675
2003    4616
2004    4571
2002    4555
2000    4519
2001    4467
1999    4222
1998    4167
1997    4155
1992    4127
1991    4123
1996    4122
1995    4077
1994    4060
1990    4045
1989    4037
1993    3982
1988    3955
1987    3915
1986    3783
1985    3737
Name: count, dtype: int64

**Q**: How many unique seasons are there in the dataset? Use the nunique() function.

In [56]:
# Write your code here
df["Season"].nunique()

32

**Q**: Find the team with the most wins. Use the value_counts() function on the Wteam column.

In [70]:
# Write your code here
# The team is the index and idxmax gets the index of the team with the largest score
df["Wteam"].value_counts().idxmax()

1181

# Acessing Values

Then, in order to get attributes about the game, we need to use the **iloc[]** function. Iloc is definitely one of the more important functions. The main idea is that you want to use it whenever you have the integer index of a certain row that you want to access. As per Pandas documentation, iloc is an "integer-location based indexing for selection by position."

In [16]:
df.iloc[[df['Wscore'].argmax()]]

       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
24970    1991      68   1258     186   1109     140    H      0

Let's take this a step further. Let's say you want to know the game with the highest scoring winning team (this is what we just calculated), but you then want to know how many points the losing team scored.

In [17]:
df.iloc[[df['Wscore'].argmax()]]['Lscore']

24970    140
Name: Lscore, dtype: int64

When you see data displayed in the above format, you're dealing with a Pandas **Series** object, not a dataframe object.

In [18]:
type(df.iloc[[df['Wscore'].argmax()]]['Lscore'])

pandas.core.series.Series

In [19]:
type(df.iloc[[df['Wscore'].argmax()]])

pandas.core.frame.DataFrame

The following is a summary of the 3 data structures in Pandas (Haven't ever really used Panels yet)

![](DataStructures.png)

When you want to access values in a Series, you'll want to just treat the Series like a Python dictionary, so you'd access the value according to its key (which is normally an integer index)

In [20]:
df.iloc[[df['Wscore'].argmax()]]['Lscore'][24970]

140

The other really important function in Pandas is the **loc** function. Contrary to iloc, which is an integer based indexing, loc is a "Purely label-location based indexer for selection by label". Since all the games are ordered from 0 to 145288, iloc and loc are going to be pretty interchangable in this type of dataset

In [21]:
df.iloc[:3]

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0

In [22]:
df.loc[:3]

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0

Notice the slight difference in that iloc is exclusive of the second number, while loc is inclusive.

Below is an example of how you can use loc to acheive the same task as we did previously with iloc

In [23]:
df.loc[df['Wscore'].argmax(), 'Lscore']

140

A faster version uses the **at()** function. At() is really useful wheneever you know the row label and the column label of the particular value that you want to get.

In [24]:
df.at[df['Wscore'].argmax(), 'Lscore']

140

If you'd like to see more discussion on how loc and iloc are different, check out this great Stack Overflow post: http://stackoverflow.com/questions/31593201/pandas-iloc-vs-ix-vs-loc-explanation. Just remember that **iloc looks at position** and **loc looks at labels**. Loc becomes very important when your row labels aren't integers.

# Sorting

Let's say that we want to sort the dataframe in increasing order for the scores of the losing team

In [25]:
df.sort_values('Lscore').head()

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
100027    2008      66   1203      49   1387      20    H      0
49310     1997      66   1157      61   1204      21    H      0
89021     2006      44   1284      41   1343      21    A      0
85042     2005      66   1131      73   1216      22    H      0
103660    2009      26   1326      59   1359      22    H      0

**Q**: Make three dataframes that are sorted by season, winning team, and winning score respectively. Then, Using iloc, select the rows from index 100 to 200 and the columns for season, winning team, and winning score, respectively.

In [75]:
# Write your code here
# I use 201 as the last index to make pandas include index 200 since iloc does not include the last index
season_values = df.sort_values("Season").iloc[100:201]
win_values = df.sort_values("Wteam").iloc[100:201]
score_values = df.sort_values("Wscore").iloc[100:201]

      Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot HighScoringGame
2525    1985     100   1406      68   1137      65    H      0              No
2526    1985     100   1410      83   1320      59    H      0              No
2527    1985     100   1423      58   1187      56    H      0              No
2528    1985     100   1429      86   1253      59    H      0              No
2529    1985     100   1440      50   1456      48    H      0              No
...      ...     ...    ...     ...    ...     ...  ...    ...             ...
2447    1985      98   1212      63   1398      53    H      0              No
2448    1985      98   1216      64   1134      63    H      0              No
2449    1985      98   1233      77   1264      69    H      0              No
2450    1985      98   1249      80   1427      70    H      0              No
2425    1985      96   1449      72   1113      65    A      0              No

[101 rows x 9 columns]
        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot  \
97792     2008       5   1102      71   1294      62    H      0
97721     2008       4   1102      67   1171      38    H      0
96770     2007     110   1102      67   1161      58    H      0
96658     2007     107   1102      69   1428      43    H      0
96454     2007     103   1102      60   1307      51    A      0
...        ...     ...    ...     ...    ...     ...  ...    ...
33628     1993      82   1102      71   1201      51    A      0
32738     1993      61   1102      69   1161      58    H      0
135550    2015      30   1102      59   1212      34    H      0
32610     1993      57   1102      75   1351      66    N      0
32310     1993      47   1102      96   1339      65    H      0

       HighScoringGame
97792               No
97721               No
96770               No
96658               No
96454               No
...                ...
33628               No
32738               No
135550              No
32610               No
32310               No

[101 rows x 9 columns]
        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot  \
99013     2008      33   1460      43   1139      42    H      0
126840    2013      77   1366      43   1126      40    H      0
126982    2013      80   1442      43   1236      40    A      0
15619     1989      30   1343      43   1159      33    H      0
122700    2012     103   1349      43   1374      39    H      0
...        ...     ...    ...     ...    ...     ...  ...    ...
135433    2015      26   1438      45   1353      26    N      0
72338     2002      90   1443      45   1117      42    H      0
135808    2015      36   1185      45   1276      42    A      0
129196    2013     131   1380      45   1341      44    N      0
132791    2014      92   1155      45   1210      41    H      0

       HighScoringGame
99013               No
126840              No
126982              No
15619               No
122700              No
...                ...
135433              No
72338               No
135808              No
129196              No
132791              No

[101 rows x 9 columns]

**Q**: From these three subsets you obtained above, find the season and winning team for the game with the highest winning score.

In [77]:
# Write your code here
# I get the maximum value using argmax, and then choose the winning team and season column
win_values.loc[win_values["Wscore"].argmax(), ["Wteam", "Season"]]

Wteam     1296
Season    2000
Name: 60566, dtype: object

# Filtering Rows Conditionally

Now, let's say we want to find all of the rows that satisy a particular condition. For example, I want to find all of the games where the winning team scored more than 150 points. The idea behind this command is you want to access the column 'Wscore' of the dataframe df (df['Wscore']), find which entries are above 150 (df['Wscore'] > 150), and then returns only those specific rows in a dataframe format (df[df['Wscore'] > 150]).

In [28]:
df[df['Wscore'] > 150]

       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
5269     1986      75   1258     151   1109     107    H      0
12046    1988      40   1328     152   1147      84    H      0
12355    1988      52   1328     151   1173      99    N      0
16040    1989      40   1328     152   1331     122    H      0
16853    1989      68   1258     162   1109     144    A      0
17867    1989      92   1258     181   1109     150    H      0
19653    1990      30   1328     173   1109     101    H      0
19971    1990      38   1258     152   1109     137    A      0
20022    1990      40   1116     166   1109     101    H      0
22145    1990      97   1258     157   1362     115    H      0
23582    1991      26   1318     152   1258     123    N      0
24341    1991      47   1328     172   1258     112    H      0
24970    1991      68   1258     186   1109     140    H      0
25656    1991      84   1106     151   1212      97    H      0
28687    1992      54   1261     159   1319      86    H      0
35023    1993     112   1380     155   1341      91    A      0
40060    1995      32   1375     156   1341     114    H      0
52600    1998      33   1395     153   1410      87    H      0

This also works if you have multiple conditions. Let's say we want to find out when the winning team scores more than 150 points and when the losing team scores below 100.

In [29]:
df[(df['Wscore'] > 150) & (df['Lscore'] < 100)]

       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
12046    1988      40   1328     152   1147      84    H      0
12355    1988      52   1328     151   1173      99    N      0
25656    1991      84   1106     151   1212      97    H      0
28687    1992      54   1261     159   1319      86    H      0
35023    1993     112   1380     155   1341      91    A      0
52600    1998      33   1395     153   1410      87    H      0

**Q**: Create a new column in the DataFrame called 'ScoreDifference' which is the absolute difference between the winning score and the losing score. Filter the DataFrame to only include games where the 'ScoreDifference' is greater than the average 'ScoreDifference' for all games.

In [80]:
# Write your code here
# Using df.assign I create a new column which I then filter upon
df = df.assign(ScoreDifference = df.Wscore - df.Lscore)
df[df["ScoreDifference"] > df['ScoreDifference'].mean()]

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,HighScoringGame,ScoreDifference
0,1985,20,1228,81,1328,64,N,0,No,17
3,1985,25,1165,70,1432,54,H,0,No,16
6,1985,25,1228,64,1226,44,N,0,No,20
8,1985,25,1260,98,1133,80,H,0,No,18
10,1985,25,1307,103,1288,71,H,0,Yes,32
...,...,...,...,...,...,...,...,...,...,...
145280,2016,131,1401,71,1261,38,N,0,No,33
145282,2016,131,1433,76,1172,54,N,0,No,22
145284,2016,132,1114,70,1419,50,N,0,No,20
145285,2016,132,1163,72,1272,58,N,0,No,14
145288,2016,132,1386,87,1433,74,N,0,No,13

**Q**: From this filtered DataFrame, find the season and teams involved in the game with the highest 'ScoreDifference'.

In [85]:
# Write your code here
df.loc[df["ScoreDifference"].max(), ["Season", "Wteam", "Lteam"]]

Season    1985
Wteam     1246
Lteam     1405
Name: 91, dtype: object

# Grouping

Another important function in Pandas is **groupby()**. This is a function that allows you to group entries by certain attributes (e.g Grouping entries by Wteam number) and then perform operations on them. The following function groups all the entries (games) with the same Wteam number and finds the mean for each group.

In [32]:
df.groupby('Wteam')['Wscore'].mean().head()

Wteam
1101    78.111111
1102    69.893204
1103    75.839768
1104    75.825944
1105    74.960894
Name: Wscore, dtype: float64

This next command groups all the games with the same Wteam number and finds where how many times that specific team won at home, on the road, or at a neutral site

In [33]:
df.groupby('Wteam')['Wloc'].value_counts().head(9)

Wteam  Wloc
1101   H        12
       N         3
       A         3
1102   H       204
       A        73
       N        32
1103   H       324
       A       153
       N        41
Name: count, dtype: int64

Each dataframe has a **values** attribute which is useful because it basically displays your dataframe in a numpy array style format

In [34]:
df.values

array([[1985, 20, 1228, ..., 64, 'N', 0],
       [1985, 25, 1106, ..., 70, 'H', 0],
       [1985, 25, 1112, ..., 56, 'H', 0],
       ...,
       [2016, 132, 1246, ..., 77, 'N', 1],
       [2016, 132, 1277, ..., 62, 'N', 0],
       [2016, 132, 1386, ..., 74, 'N', 0]], dtype=object)

Now, you can simply just access elements like you would in an array.

In [35]:
df.values[0][0]

1985

**Q**: Group the DataFrame by season and find the average winning score for each season.

In [86]:
# Write your code here
df.groupby("Season")["Wscore"].mean()

Season
1985    74.723040
1986    74.813640
1987    77.993870
1988    79.773704
1989    81.728511
1990    80.846477
1991    82.733932
1992    79.992004
1993    79.508790
1994    81.160345
1995    80.096149
1996    78.205483
1997    76.300842
1998    77.229902
1999    76.043581
2000    76.310467
2001    77.088650
2002    76.963557
2003    75.795061
2004    74.971122
2005    74.693690
2006    74.587555
2007    74.829467
2008    74.962425
2009    74.033721
2010    74.652480
2011    74.374190
2012    73.379973
2013    72.840789
2014    76.101268
2015    72.680799
2016    78.295958
Name: Wscore, dtype: float64

**Q**: Group the DataFrame by winning team and find the maximum winning score for each team across all seasons.

In [87]:
# Write your code here
df.groupby("Wteam")["Wscore"].max()

Wteam
1101     95
1102    111
1103    109
1104    114
1105    114
       ...
1460    136
1461    112
1462    125
1463    105
1464    115
Name: Wscore, Length: 364, dtype: int64

**Q**: Group the DataFrame by both season and winning team. Find the team with the highest average winning score for each season.

In [110]:
# Write your code here
df.groupby(["Season", "Wteam"])["Wscore"].mean().groupby(level=0).idxmax()

Season
1985    (1985, 1328)
1986    (1986, 1109)
1987    (1987, 1380)
1988    (1988, 1258)
1989    (1989, 1258)
1990    (1990, 1258)
1991    (1991, 1380)
1992    (1992, 1380)
1993    (1993, 1380)
1994    (1994, 1380)
1995    (1995, 1206)
1996    (1996, 1206)
1997    (1997, 1254)
1998    (1998, 1395)
1999    (1999, 1317)
2000    (2000, 1395)
2001    (2001, 1395)
2002    (2002, 1242)
2003    (2003, 1395)
2004    (2004, 1194)
2005    (2005, 1311)
2006    (2006, 1190)
2007    (2007, 1440)
2008    (2008, 1440)
2009    (2009, 1377)
2010    (2010, 1440)
2011    (2011, 1449)
2012    (2012, 1370)
2013    (2013, 1377)
2014    (2014, 1322)
2015    (2015, 1322)
2016    (2016, 1146)
Name: Wscore, dtype: object

**Q**: Create a new DataFrame that counts the number of wins for each team in each season. This will involve grouping by both season and winning team, and then using the count() function.

In [96]:
# Write your code here
num_wins = pd.DataFrame(df.groupby(["Season", "Wteam"])["Season"].count())
num_wins

              Season
Season Wteam
1985   1102        5
       1103        9
       1104       21
       1106       10
       1108       19
...              ...
2016   1460       20
       1461       12
       1462       27
       1463       21
       1464        9

[10172 rows x 1 columns]

**Q**: For each season, find the team with the most wins. This will involve creating a DataFrame similar to the one in task 5, and then using the idxmax() function for each season.

In [97]:
# Write your code here

df.groupby(["Season", "Wteam"])["Wscore"].count().groupby(level=0).idxmax()

Season
1985    (1985, 1385)
1986    (1986, 1181)
1987    (1987, 1424)
1988    (1988, 1112)
1989    (1989, 1328)
1990    (1990, 1247)
1991    (1991, 1116)
1992    (1992, 1181)
1993    (1993, 1231)
1994    (1994, 1163)
1995    (1995, 1116)
1996    (1996, 1269)
1997    (1997, 1242)
1998    (1998, 1242)
1999    (1999, 1181)
2000    (2000, 1409)
2001    (2001, 1181)
2002    (2002, 1153)
2003    (2003, 1166)
2004    (2004, 1390)
2005    (2005, 1228)
2006    (2006, 1181)
2007    (2007, 1242)
2008    (2008, 1272)
2009    (2009, 1272)
2010    (2010, 1242)
2011    (2011, 1242)
2012    (2012, 1246)
2013    (2013, 1211)
2014    (2014, 1455)
2015    (2015, 1246)
2016    (2016, 1242)
Name: Wscore, dtype: object

**Q**: Group the DataFrame by losing team and find the average losing score for each team across all seasons. Compare this with the average winning score for each team from task 3. Are there teams that have a higher average losing score than winning score?

In [104]:
# Write your code here
# as I understand task 3, I am not supposed to find the mean winning score for each team across all seasons as I must here. So I have calculated the mean winning score for each team. By looking at the scores I find that no team has a higher mean losing score than winning score
print(df.groupby("Lteam")["Lscore"].mean().sort_values("Lscore"))
print(df.groupby("Wteam")["Wscore"].mean().sort_values("Wscore"))

Lteam
1101    60.586207
1102    59.201507
1103    64.117347
1104    64.374317
1105    61.675373
          ...
1460    63.082915
1461    64.661972
1462    68.216117
1463    60.829213
1464    65.187063
Name: Lscore, Length: 364, dtype: float64

# Dataframe Iteration

In order to iterate through dataframes, we can use the **iterrows()** function. Below is an example of what the first two rows look like. Each row in iterrows is a Series object

In [42]:
for index, row in df.iterrows():
    print(row)
    if index == 1:
        break

Season    1985
Daynum      20
Wteam     1228
Wscore      81
Lteam     1328
Lscore      64
Wloc         N
Numot        0
Name: 0, dtype: object
Season    1985
Daynum      25
Wteam     1106
Wscore      77
Lteam     1354
Lscore      70
Wloc         H
Numot        0
Name: 1, dtype: object

**Q**: Create a new column 'HighScoringGame' that is 'Yes' if the winning score is greater than 100 and 'No' otherwise. This will require iterating over the rows of the DataFrame and checking the value of the winning score for each row.

In [43]:
# Write your code here
col = []
for index, row in df.iterrows():
    wScore = row["Wscore"]
    if wScore > 100:
        col.append("Yes")
    else:
        col.append("No")

df["HighScoringGame"] = col

**Q**: Calculate the total number of games played by each team, whether they won or lost. This will require iterating over the rows of the DataFrame and updating a dictionary that keeps track of the number of games for each team.

In [117]:
# Write your code here
# the dict holds a tuple the first value is the number of wins the second is the number of losses
score = {}
for val in df["Wteam"].unique():
    score[val] = (0,0)

for index, row in df.iterrows():
    loser = row["Lteam"]
    winner  = row["Wteam"]
    score[loser] =(score[loser][0], score[loser][1]+ 1)
    score[winner] =( score[winner][0] +1, score[winner][1])
score

{1228: (660, 332),
 1106: (394, 461),
 1112: (746, 235),
 1165: (357, 476),
 1192: (425, 483),
 1218: (486, 445),
 1242: (804, 189),
 1260: (383, 531),
 1305: (506, 416),
 1307: (637, 332),
 1344: (525, 426),
 1374: (466, 450),
 1412: (594, 368),
 1417: (655, 311),
 1116: (625, 355),
 1120: (473, 463),
 1135: (322, 525),
 1143: (558, 389),
 1153: (652, 318),
 1171: (299, 530),
 1173: (553, 407),
 1177: (459, 483),
 1193: (438, 504),
 1196: (644, 337),
 1206: (502, 436),
 1210: (549, 423),
 1211: (663, 258),
 1234: (580, 388),
 1243: (520, 407),
 1257: (682, 312),
 1277: (667, 299),
 1278: (515, 433),
 1286: (394, 457),
 1301: (558, 421),
 1325: (541, 401),
 1326: (622, 346),
 1328: (673, 295),
 1339: (332, 547),
 1365: (460, 447),
 1375: (466, 430),
 1397: (546, 417),
 1403: (478, 461),
 1423: (471, 460),
 1429: (591, 339),
 1437: (629, 354),
 1438: (568, 384),
 1439: (480, 466),
 1443: (573, 369),
 1455: (540, 407),
 1241: (458, 484),
 1268: (605, 364),
 1314: (761, 249),
 1323: (585, 365),
 1458: (595, 356),
 1104: (609, 366),
 1152: (205, 660),
 1160: (443, 485),
 1181: (819, 194),
 1186: (328, 521),
 1247: (475, 468),
 1249: (380, 493),
 1276: (596, 363),
 1338: (618, 344),
 1368: (295, 513),
 1376: (482, 463),
 1378: (409, 527),
 1391: (341, 538),
 1396: (656, 323),
 1398: (320, 550),
 1399: (399, 461),
 1428: (591, 340),
 1448: (536, 411),
 1464: (284, 572),
 1124: (458, 448),
 1130: (492, 459),
 1200: (360, 562),
 1204: (417, 445),
 1233: (543, 414),
 1246: (765, 234),
 1280: (520, 426),
 1308: (572, 363),
 1337: (472, 450),
 1348: (472, 466),
 1373: (544, 406),
 1379: (460, 436),
 1409: (604, 362),
 1444: (457, 459),
 1451: (494, 372),
 1139: (582, 341),
 1154: (257, 563),
 1229: (529, 422),
 1259: (358, 555),
 1261: (545, 411),
 1272: (692, 300),
 1273: (381, 515),
 1318: (479, 463),
 1330: (564, 399),
 1360: (427, 462),
 1388: (506, 391),
 1393: (738, 255),
 1419: (429, 465),
 1447: (425, 478),
 1161: (478, 427),
 1298: (404, 490),
 1332: (508, 419),
 1347: (405, 453),
 1353: (405, 534),
 1359: (378, 496),
 1361: (468, 447),
 1386: (546, 412),
 1400: (652, 330),
 1433: (612, 363),
 1102: (309, 531),
 1111: (411, 465),
 1119: (283, 585),
 1149: (320, 504),
 1151: (513, 386),
 1155: (535, 415),
 1185: (406, 494),
 1201: (494, 453),
 1212: (242, 595),
 1267: (463, 446),
 1292: (489, 399),
 1319: (357, 486),
 1320: (478, 435),
 1371: (519, 427),
 1382: (402, 512),
 1385: (543, 411),
 1390: (591, 341),
 1402: (337, 510),
 1425: (470, 474),
 1435: (561, 400),
 1441: (318, 536),
 1449: (505, 433),
 1103: (518, 392),
 1122: (437, 466),
 1123: (477, 429),
 1129: (522, 385),
 1140: (627, 338),
 1141: (321, 551),
 1156: (449, 451),
 1174: (457, 456),
 1183: (370, 501),
 1202: (342, 514),
 1203: (510, 423),
 1222: (482, 448),
 1227: (409, 508),
 1231: (631, 338),
 1235: (551, 399),
 1238: (412, 508),
 1239: (383, 508),
 1248: (389, 507),
 1256: (528, 397),
 1258: (352, 546),
 1264: (456, 472),
 1266: (592, 359),
 1269: (536, 410),
 1285: (518, 347),
 1290: (365, 510),
 1310: (456, 493),
 1329: (587, 354),
 1333: (413, 498),
 1345: (630, 336),
 1349: (347, 541),
 1352: (457, 468),
 1380: (428, 434),
 1405: (450, 471),
 1408: (387, 421),
 1410: (265, 566),
 1418: (480, 432),
 1424: (685, 289),
 1456: (336, 555),
 1462: (681, 273),
 1168: (380, 511),
 1179: (372, 542),
 1223: (120, 243),
 1281: (613, 364),
 1304: (510, 443),
 1356: (541, 412),
 1426: (386, 473),
 1431: (572, 365),
 1114: (501, 409),
 1132: (436, 459),
 1163: (679, 298),
 1180: (526, 404),
 1217: (391, 437),
 1225: (390, 490),
 1296: (349, 530),
 1389: (413, 515),
 1395: (461, 482),
 1133: (473, 476),
 1178: (442, 478),
 1199: (531, 418),
 1216: (382, 548),
 1232: (381, 532),
 1245: (542, 385),
 1250: (399, 499),
 1265: (420, 514),
 1275: (507, 425),
 1293: (598, 288),
 1336: (441, 485),
 1384: (330, 557),
 1401: (486, 454),
 1416: (411, 470),
 1427: (406, 452),
 1452: (577, 368),
 1134: (50, 150),
 1322: (366, 488),
 1440: (281, 544),
 1450: (406, 507),
 1461: (488, 426),
 1113: (479, 458),
 1190: (478, 413),
 1226: (297, 550),
 1254: (377, 521),
 1334: (458, 441),
 1110: (423, 487),
 1137: (524, 388),
 1172: (507, 372),
 1191: (479, 449),
 1207: (610, 313),
 1221: (479, 450),
 1224: (297, 610),
 1270: (370, 491),
 1279: (495, 432),
 1299: (365, 505),
 1309: (440, 400),
 1311: (296, 543),
 1351: (478, 451),
 1387: (529, 427),
 1414: (418, 504),
 1463: (393, 445),
 1284: (440, 492),
 1108: (296, 570),
 1287: (356, 501),
 1350: (562, 397),
 1109: (42, 127),
 1131: (523, 422),
 1208: (528, 426),
 1220: (471, 462),
 1263: (374, 524),
 1331: (426, 383),
 1432: (28, 41),
 1187: (337, 524),
 1145: (423, 511),
 1150: (518, 424),
 1184: (388, 475),
 1321: (345, 567),
 1364: (482, 408),
 1434: (484, 418),
 1209: (401, 490),
 1166: (579, 378),
 1197: (329, 567),
 1117: (439, 452),
 1215: (54, 93),
 1327: (3, 19),
 1363: (277, 612),
 1411: (414, 489),
 1446: (14, 34),
 1453: (512, 400),
 1182: (359, 565),
 1343: (527, 305),
 1162: (314, 517),
 1335: (489, 391),
 1406: (378, 548),
 1121: (48, 127),
 1147: (235, 463),
 1306: (279, 619),
 1354: (437, 469),
 1283: (564, 388),
 1317: (367, 516),
 1126: (303, 603),
 1341: (212, 645),
 1271: (227, 660),
 1436: (483, 428),
 1442: (305, 535),
 1383: (383, 515),
 1159: (333, 554),
 1144: (307, 543),
 1175: (347, 543),
 1288: (329, 596),
 1253: (449, 466),
 1274: (502, 413),
 1362: (399, 468),
 1164: (421, 472),
 1457: (394, 407),
 1148: (343, 501),
 1420: (298, 547),
 1157: (372, 412),
 1358: (385, 421),
 1372: (419, 376),
 1118: (6, 21),
 1421: (346, 453),
 1460: (429, 398),
 1198: (304, 508),
 1381: (281, 454),
 1251: (301, 454),
 1291: (352, 463),
 1282: (295, 450),
 1454: (367, 370),
 1169: (299, 425),
 1302: (62, 138),
 1158: (492, 228),
 1422: (296, 423),
 1369: (260, 422),
 1138: (330, 398),
 1170: (170, 490),
 1404: (204, 439),
 1407: (289, 350),
 1194: (218, 429),
 1214: (333, 294),
 1240: (205, 363),
 1142: (229, 368),
 1459: (245, 330),
 1313: (263, 300),
 1176: (241, 285),
 1346: (252, 270),
 1340: (230, 267),
 1115: (147, 373),
 1237: (234, 285),
 1125: (321, 185),
 1107: (251, 261),
 1219: (208, 258),
 1357: (184, 316),
 1189: (187, 294),
 1324: (263, 243),
 1392: (237, 256),
 1105: (179, 268),
 1127: (157, 285),
 1415: (132, 286),
 1289: (6, 42),
 1394: (190, 200),
 1236: (168, 232),
 1128: (67, 39),
 1252: (182, 219),
 1205: (164, 241),
 1366: (120, 264),
 1430: (161, 164),
 1413: (119, 229),
 1255: (83, 261),
 1294: (132, 204),
 1355: (169, 158),
 1244: (82, 240),
 1295: (186, 122),
 1316: (121, 206),
 1312: (86, 190),
 1146: (62, 205),
 1445: (26, 81),
 1195: (129, 144),
 1167: (101, 159),
 1300: (110, 142),
 1342: (67, 193),
 1367: (101, 166),
 1315: (88, 129),
 1188: (51, 156),
 1136: (78, 162),
 1370: (95, 127),
 1377: (89, 121),
 1303: (51, 78),
 1297: (38, 75),
 1213: (50, 34),
 1262: (30, 53),
 1230: (37, 27),
 1101: (18, 58)}

**Q**: For each season, find the game with the highest score difference (winning score - losing score). This will require iterating over the rows of the DataFrame, keeping track of the highest score difference for each season, and updating it if a game with a higher score difference is found.

In [119]:
# Write your code here
# The array keeps track of the highest difference for each season and the max function is used to determine if I should update the index
highestDifference = [0 for x in range(0, df["Season"].nunique())]
for index, row in df.iterrows():
    inx= 1985 - row["Season"]
    highestDifference[inx] = max(highestDifference[inx], row["Wscore"]- row["Lscore"])
highestDifference

[60,
 73,
 69,
 74,
 58,
 62,
 69,
 75,
 68,
 70,
 74,
 72,
 64,
 70,
 72,
 59,
 75,
 75,
 75,
 66,
 80,
 91,
 74,
 69,
 81,
 82,
 68,
 76,
 70,
 68,
 73,
 84]

Remember, iterating over a DataFrame should generally be avoided if a vectorized operation can be used instead, as vectorized operations are usually much faster. However, these tasks are designed to give practice with DataFrame iteration for cases where it might be necessary.

Vectorized Operation Example: Create a new column 'HighScoringGame' in the DataFrame using a vectorized operation. This column should contain 'Yes' if the winning score is greater than 100 and 'No' otherwise. Use the np.where function from the numpy library for this task.

In [46]:
import numpy as np
df['HighScoringGame'] = np.where(df['Wscore'] > 100, 'Yes', 'No')

**Q**: Vectorized Operation: Calculate the total number of games played by each team, whether they won or lost. Instead of iterating over the DataFrame, use the value_counts() function on the winning team and losing team columns separately, and then add the two Series together.

In [47]:
# Write your code here
df["Wteam"].value_counts() +  df["Lteam"].value_counts()

**Q**: For each season, find the game with the highest score difference (winning score - losing score). Instead of iterating over the DataFrame, create a new column 'ScoreDifference' using vectorized subtraction, then use the groupby() function and idxmax() function to find the game with the highest score difference for each season.

In [121]:
# Write your code here
# I already have the column
df.groupby("Season")["ScoreDifference"].idxmax()

Season
1985       236
1986      4731
1987      8240
1988     12046
1989     16677
1990     19502
1991     25161
1992     27997
1993     33858
1994     36404
1995     39858
1996     44653
1997     49033
1998     52600
1999     57618
2000     60616
2001     65999
2002     70737
2003     74791
2004     79181
2005     83372
2006     89542
2007     94507
2008     97737
2009    103723
2010    108405
2011    114015
2012    118699
2013    124057
2014    131373
2015    134590
2016    140040
Name: ScoreDifference, dtype: int64

# Extracting Rows and Columns

The bracket indexing operator is one way to extract certain columns from a dataframe.

In [49]:
df[['Wscore', 'Lscore']].head()

   Wscore  Lscore
0      81      64
1      77      70
2      63      56
3      70      54
4      86      74

Notice that you can acheive the same result by using the loc function. Loc is a veryyyy versatile function that can help you in a lot of accessing and extracting tasks.

In [50]:
df.loc[:, ['Wscore', 'Lscore']].head()

   Wscore  Lscore
0      81      64
1      77      70
2      63      56
3      70      54
4      86      74

Note the difference is the return types when you use brackets and when you use double brackets.

In [51]:
type(df['Wscore'])

pandas.core.series.Series

In [52]:
type(df[['Wscore']])

pandas.core.frame.DataFrame

You've seen before that you can access columns through df['col name']. You can access rows by using slicing operations.

In [53]:
df[0:3]

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot HighScoringGame
0    1985      20   1228      81   1328      64    N      0              No
1    1985      25   1106      77   1354      70    H      0              No
2    1985      25   1112      63   1223      56    H      0              No

Here's an equivalent using iloc

In [54]:
df.iloc[0:3,:]

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot HighScoringGame
0    1985      20   1228      81   1328      64    N      0              No
1    1985      25   1106      77   1354      70    H      0              No
2    1985      25   1112      63   1223      56    H      0              No

# Data Cleaning

One of the big jobs of doing well in Kaggle competitions is that of data cleaning. A lot of times, the CSV file you're given (especially like in the Titanic dataset), you'll have a lot of missing values in the dataset, which you have to identify. The following **isnull** function will figure out if there are any missing values in the dataframe, and will then sum up the total for each column. In this case, we have a pretty clean dataset.

In [55]:
df.isnull().sum()

Season             0
Daynum             0
Wteam              0
Wscore             0
Lteam              0
Lscore             0
Wloc               0
Numot              0
HighScoringGame    0
dtype: int64

If you do end up having missing values in your datasets, be sure to get familiar with these two functions.
* **dropna()** - This function allows you to drop all(or some) of the rows that have missing values.
* **fillna()** - This function allows you replace the rows that have missing values with the value that you pass in.

# Other Useful Functions

* **drop()** - This function removes the column or row that you pass in (You also have the specify the axis).
* **agg()** - The aggregate function lets you compute summary statistics about each group
* **apply()** - Lets you apply a specific function to any/all elements in a Dataframe or Series
* **get_dummies()** - Helpful for turning categorical data into one hot vectors.
* **drop_duplicates()** - Lets you remove identical rows

# Lots of Other Great Resources

Pandas has been around for a while and there are a lot of other good resources if you're still interested on getting the most out of this library.
* http://pandas.pydata.org/pandas-docs/stable/10min.html
* https://www.datacamp.com/community/tutorials/pandas-tutorial-dataframe-python
* http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/
* https://www.dataquest.io/blog/pandas-python-tutorial/
* https://drive.google.com/file/d/0ByIrJAE4KMTtTUtiVExiUGVkRkE/view
* https://www.youtube.com/playlist?list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y